<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
    <link href="https://api.mapbox.com/mapbox-gl-js/v3.2.0/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v3.2.0/mapbox-gl.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css" type="text/css">
    <link rel="stylesheet" href="css/media-query.css" type="text/css">
    <style>
      body {
        margin: 0;
        padding: 15;
      }
      #map {
        top: 0;
        height: 400px;
        margin: 0;
        margin-top: 25px;
        bottom: 0;
        width: 100%;
      }
      </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">%= name %></a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">View Profile</a></li>
                  <li><a class="dropdown-item" href="#">Settings</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="/logout?_method=DELETE" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">Log-out</a></li>
                    <form id="logout-form" action="/logout?_method=DELETE" method="POST" style="display: none;">
                      {{ csrf_field() }}
                    </form>
                </ul>
                <li class="nav-item">
                  <a class="nav-link" href="#">Link</a>
                </li>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled">Disabled</a>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>

      <div class="container">
        <h1 class="text-center">HydroGuard</h1>
        <div id="map-container" class="d-flex justify-content-center">
            <div id="map"></div>
        </div>
      </div>
      

  <script>
    mapboxgl.accessToken = 'pk.eyJ1IjoiY2p0YW4iLCJhIjoiY2x0bHRiNGo4MWhvdzJtb3gxcmp6b2dkMiJ9.iPOaWIBK8J8L9QcFfTfzXw';
    const map = new mapboxgl.Map({
        container: 'map', // container ID
        center: [121.730038, 17.611886], // tuguegarao
        zoom: 13 // starting zoom
    });
  </script>

  <script src="https://cdn.jsdelivr.net/npm/qrcode@1.4.4/build/qrcode.min.js"></script> 
  <script src="calendar.js"></script>
  <script src="client.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>